
/*Required Styles*/
.delayed-fade-out {
  transition: opacity 1s;
}

.group:not(:hover) .delayed-fade-out {
  transition-delay: 2s;
  opacity: 0;
}

.group:hover .delayed-fade-out {
  transition-delay: 0s;
  opacity: 1;
}
/*Required Styles End*/ 
